/* Estilos generales para todos los botones */
.button {
    -fx-cursor: hand;
    -fx-background-color: #0580d7;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-font-family: "System";
    -fx-font-size: 28px;
    -fx-text-fill: white;
}

/* Estilo específico para el TextField con fx:id="txtNuevaTarea" */
#txtNuevaTarea {
    -fx-font-family: "System";
    -fx-font-size: 28px;
    -fx-background-radius: 15px; /* Borde redondeado */
    -fx-border-radius: 15px;
    -fx-border-color: #0580d7;
    -fx-border-width: 2px;
}

/* Estilo específico para el ListView */
.list-view {
    -fx-font-family: "System";
    -fx-font-size: 20px;
    -fx-background-radius: 15px; /* Borde redondeado */
    -fx-border-radius: 15px;
    -fx-border-color: #0580d7;
    -fx-border-width: 2px;
    -fx-padding: 5px; /* Añadir padding para evitar el solapamiento */
    -fx-background-insets: 0, 1; /* Ajusta el fondo para evitar recortes */

}
